@media (max-width: 480px){
    /*Iphone 6/7/8/ Android MidTier*/
    body{
        width: 100%;
        height: auto;
        overflow-x: hidden;
        margin-bottom:5px ;
        margin-left:5px ;
        margin-right: 5px;
        font-family: 'Roboto', sans-serif;
    }

    .lds-spinner {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 27%;
        top: 40%;
        z-index: 1 !important;
      }

    .locationBar{
        width: auto;
        height: 40%;
        background-color: #EFEFEF;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Roboto', sans-serif;
    }

    .contentHero{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
    }

    .content{
        width: auto;
        height: auto;
        align-items: center;
    }

    .lightTextContentHero{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 9px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100; 
        margin-top: 20px;
    }

    .contentWorks{
        display: flex;
        justify-content: left;
        font-size: 20px;
        margin-right: 20px;
        margin-left: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
    .stepsTags{
        width: 100%;
        padding-top: 20px;
        margin-left: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        font-family: 'Roboto', sans-serif;
       }

       .titleRestaurants{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        margin-left: 15px;
    }

    .restaurantIntroduction{
      font-weight: 400;
      font-size: 22px;
      letter-spacing: 1.5px;
      font-family: 'Shrikhand', cursive !important;
      text-shadow: 2px 2px #FFFFFF;
    }

    .restaurantItemContainer{
        position: relative;
        width: 295px;
        height: 190px;
        border-radius: 20px; 
        background-color: #FFFFFF;
        margin-top: 10px;
        margin-bottom: 25px;
        margin-right: 40px;
        margin-left: 18px;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    }

    .restoPicture{
        width: 295px;
        height: 140px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        z-index: 1;
    }
    

       .btnAction {
        position: relative;
        justify-content: center;
        align-items: center;
        padding-right: 105px;
        margin-right: 175px;
        width: 60px;
        height: 34px;
        padding-bottom: 29px;
      }

       .columnRestaurants{
        display: flex;
        position: relative;
        flex-direction: column;
       }

       .menuOffer{
        display: flex;
        flex-direction: column;
      }

      .heartTemplate{
        position: absolute;
        z-index:1;
        opacity:1;
        margin-top: 6px;
        transition-property: all;
        transition-duration: 1000ms;
        transition-timing-function: linear;
        background-color: #EFEFEF;
        margin-left: 0px;
      }
      
      .heartTemplateFull{
        margin-top: 30px;
        position: absolute;
        z-index:0;
        color: #9356DC;
        margin-left: 0px;
      }

      .heartTemplate:hover{
        opacity: 0;
      }

      .columnName {
        border-bottom: 3px solid #2F9D8D;
        border-image: linear-gradient(to right, #2F9D8D 15%, rgba(0,0,0,0) 15%);
        border-image-slice: 1;
        font-weight: lighter;
        opacity: 0.7;
        margin-left: 0px;
    }
    
    .menuItem{
        width: 310px;
        height: 83px;
        display: flex;
        position: relative;
        border-radius: 20px;
        background-color: #FFFFFF;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 0px;
        cursor: pointer;
        overflow:hidden;
        transition-property: all;
        transition-duration: 1000ms;
        transition-timing-function: ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

      .heartIconOne{
        margin-top: 10px;
        margin-left: 165px;
        font-size: 20px;
        position: absolute;
        z-index:1;
        opacity:1;
        transition-property: all;
        transition-duration: 1000ms;
        transition-timing-function: linear;
        background-color:white;
    }

    .heartIconOne:hover{
      opacity: 0;
    }

    .heartIconOneFull{
        margin-top: 10px;
        margin-left: 165px;
        font-size: 20px;
        position: absolute;
        z-index:0;
        color: #9356DC;
      }

      .heartIconTwo{
        margin-top: 10px;
        margin-left: 140px;
        font-size: 20px;
        position: absolute;
        z-index:1;
        opacity:1;
        transition-property: all;
        transition-duration: 1000ms;
        transition-timing-function: linear;
        background-color:white;
      }
      
      .heartIconTwo:hover{
        opacity: 0;
      }

      .heartIconTwoFull{
        margin-top: 10px;
        margin-left: 140px;
        font-size: 20px;
        position: absolute;
        z-index:0;
        color: #9356DC;
      }

      .heartIconThree{
        margin-top: 10px;
        margin-left: 190px;
        font-size: 20px;
        position: absolute;
        z-index:1;
        opacity:1;
        transition-property: all;
        transition-duration: 1000ms;
        transition-timing-function: linear;
        background-color:white;
      }
      
      .heartIconThree:hover{
        opacity: 0;
      }

      .heartIconThreeFull{
        margin-top: 10px;
        margin-left: 190px;
        font-size: 20px;
        position: absolute;
        z-index:0;
        color: #9356DC;
      }

      .heartIconFour{
        margin-top: 10px;
        margin-left: 180px;
        font-size: 20px;
        position: absolute;
        z-index:1;
        opacity:1;
        transition-property: all;
        transition-duration: 1000ms;
        transition-timing-function: linear;
        background-color:white;
      }
      
      .heartIconFour:hover{
        opacity: 0;
      }

      .heartIconFourFull{
        margin-top: 10px;
        margin-left: 180px;
        font-size: 20px;
        position: absolute;
        z-index:0;
        color: #9356DC;
      }

      .BackButton{
        position:fixed;
        width:22px;
        height:22px;
        top:22px;
        left:25px;
        background-color:#FFFFFF;
        color:#000000;
        border-radius:40px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
        font-family:Verdana, Geneva, sans-serif;
        font-size:15px;
    }
    
    .my-back{
        margin-top:4px;
    }

    .columnTitle{
        margin-left: 70px;
        margin-right: 25px;
        margin-left: 30px;
      }

       footer{
        width: auto;
        height: auto;
        background-color: #282828;
      }

       .footerContent{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
      }
}